[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
awsebcli = "*"


[dev-packages]

"flake8" = "*"
isort = "*"
"autopep8" = "*"
