.plotlyjsicon {
	/* We give props in other ways: having it on every hover is excessive. */
	display: none;
}

iframe {
	border: none;
	width: 100%;
	height: 33vh;
}

/* Clean, minimal table style: */
table {
	border: none;
}
td, th {
	border: none;
	padding: 0 5px;
}

/* Bring baseline of button closer to that of the text, and space between buttons. */
.nav-tabs > .btn {
	margin: 5px 0 0 5px;
}

/* Hide the "X" on pulldowns */
.Select-clear-zone {
	display: none;
}

/* Our funky timestamped/non-idempotent events mean the out-of-the-box undo does not work. */
._dash-undo-redo {
	display: none;
}

/* Messages from Plotly, like "Double-click to zoom back out" don't seem to be true, at least for us. */
.plotly-notifier {
	display: none;
}

/* "Please Wait" overlay */
._dash-loading-callback {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: progress;
	opacity: 0;
	background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ctext x='256' y='256'%3EPlease wait...%3C/text%3E%3C/svg%3E");
	animation: fadein 0.5s ease-in 0.2s forwards;
}

/* Slight delay on "Please Wait" to reduce flicker */
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
